# --- User Keys ---
*.key
*.pub
*.pem
/development

# --- Python 필수 ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- OS 및 에디터 ---
.DS_Store
.vscode/
.idea/

# --- 데이터 (용량 큼) ---
data/
*.csv
*.pth
*.pt